################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NinjaTrader.Custom/FileContentIndex/d48aaa66-8cab-4c45-866b-c761b1e537f9.vsidx
/.vs/NinjaTrader.Custom/FileContentIndex
/.vs/NinjaTrader.Custom/v17
/de-DE/NinjaTrader.Custom.resources.dll
/es-ES/NinjaTrader.Custom.resources.dll
/fr-FR/NinjaTrader.Custom.resources.dll
/it-IT/NinjaTrader.Custom.resources.dll
/ko-KR/NinjaTrader.Custom.resources.dll
/NinjaTrader.Custom.dll
/NinjaTrader.Custom.pdb
/pt-PT/NinjaTrader.Custom.resources.dll
/ru-RU/NinjaTrader.Custom.resources.dll
/zh-Hans/NinjaTrader.Custom.resources.dll
/obj/x64/Debug
/.vs/NinjaTrader.Custom/DesignTimeBuild/.dtbcache.v2
/obj/NinjaTrader.Custom.csproj.nuget.dgspec.json
/obj/NinjaTrader.Custom.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/NinjaTrader.Custom/v17/DocumentLayout.json
/NinjaTrader.Custom.csproj.Backup (1).tmp
/NinjaTrader.Custom.csproj.Backup.tmp
/NinjaTrader.Custom.xml
/CopierLog.txt
*.dll
/bin/Debug/NinjaTrader.Custom.dll
/bin/Debug/NinjaTrader.Custom.pdb
/bin/Debug/NinjaTrader.Custom.XML
/.vs/ProjectEvaluation
/bin/Debug/mscorlib.dll
