################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NinjaTrader.Custom/FileContentIndex/d48aaa66-8cab-4c45-866b-c761b1e537f9.vsidx
/.vs/NinjaTrader.Custom/FileContentIndex
/.vs/NinjaTrader.Custom/v17
/de-DE/NinjaTrader.Custom.resources.dll
/es-ES/NinjaTrader.Custom.resources.dll
/fr-FR/NinjaTrader.Custom.resources.dll
/it-IT/NinjaTrader.Custom.resources.dll
/ko-KR/NinjaTrader.Custom.resources.dll
/NinjaTrader.Custom.dll
/NinjaTrader.Custom.pdb
/pt-PT/NinjaTrader.Custom.resources.dll
/ru-RU/NinjaTrader.Custom.resources.dll
/zh-Hans/NinjaTrader.Custom.resources.dll
/obj/x64/Debug
/.vs/NinjaTrader.Custom/DesignTimeBuild/.dtbcache.v2
/obj/NinjaTrader.Custom.csproj.nuget.dgspec.json
/obj/NinjaTrader.Custom.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/NinjaTrader.Custom/v17/DocumentLayout.json
/NinjaTrader.Custom.csproj.Backup (1).tmp
/NinjaTrader.Custom.csproj.Backup.tmp
/NinjaTrader.Custom.xml
/CopierLog.txt
*.dll
/bin/Debug/NinjaTrader.Custom.dll
/bin/Debug/NinjaTrader.Custom.pdb
/bin/Debug/NinjaTrader.Custom.XML
/.vs/ProjectEvaluation
/bin/Debug/mscorlib.dll
/zh-Hans/NinjaTrader.Vendor.resources.dll
/NinjaTrader.Vendor.dll
/de-DE/NinjaTrader.Vendor.resources.dll
/es-ES/NinjaTrader.Vendor.resources.dll
/fr-FR/NinjaTrader.Vendor.resources.dll
/it-IT/NinjaTrader.Vendor.resources.dll
/ko-KR/NinjaTrader.Vendor.resources.dll
/pt-PT/NinjaTrader.Vendor.resources.dll
/ru-RU/NinjaTrader.Vendor.resources.dll
/NinjaTrader.Custom.csproj.user
/agreement10.7.1.txt
/Apex.AAA.dll
/Apex.ByteBuffers.dll
/Apex.FileManagement.dll
/Apex.HashCodes.dll
/Apex.JsonConverters.dll
/Apex.Market.dll
/Apex.Phoenix.dll
/Apex.Phoenix.NT8.dll
/Apex.ServiceUtilities.dll
/Apex.SigningUtilities.dll
/Apex.TaskUtilities.dll
/Apex.TimeStamps.dll
/Apex.TimeZones.dll
/Apex.ValueCompression.dll
/bin/Debug/de-DE/NinjaTrader.Core.resources.dll
/bin/Debug/de-DE/NinjaTrader.Gui.resources.dll
/bin/Debug/de-DE/NinjaTrader.Vendor.resources.dll
/bin/Debug/es-ES/NinjaTrader.Core.resources.dll
/bin/Debug/es-ES/NinjaTrader.Gui.resources.dll
/bin/Debug/es-ES/NinjaTrader.Vendor.resources.dll
/bin/Debug/fr-FR/NinjaTrader.Core.resources.dll
/bin/Debug/fr-FR/NinjaTrader.Gui.resources.dll
/bin/Debug/fr-FR/NinjaTrader.Vendor.resources.dll
/bin/Debug/it-IT/NinjaTrader.Core.resources.dll
/bin/Debug/it-IT/NinjaTrader.Gui.resources.dll
/bin/Debug/it-IT/NinjaTrader.Vendor.resources.dll
/bin/Debug/ko-KR/NinjaTrader.Core.resources.dll
/bin/Debug/ko-KR/NinjaTrader.Gui.resources.dll
/bin/Debug/ko-KR/NinjaTrader.Vendor.resources.dll
/bin/Debug/ActiproSoftware.Shared.Wpf.dll
/bin/Debug/ActiproSoftware.SyntaxEditor.Addons.DotNet.Wpf.dll
/bin/Debug/pt-PT/NinjaTrader.Core.resources.dll
/bin/Debug/pt-PT/NinjaTrader.Gui.resources.dll
/bin/Debug/pt-PT/NinjaTrader.Vendor.resources.dll
/bin/Debug/ru-RU/NinjaTrader.Core.resources.dll
/bin/Debug/ru-RU/NinjaTrader.Gui.resources.dll
/bin/Debug/ru-RU/NinjaTrader.Vendor.resources.dll
/bin/Debug/zh-Hans/NinjaTrader.Core.resources.dll
/bin/Debug/zh-Hans/NinjaTrader.Gui.resources.dll
/bin/Debug/zh-Hans/NinjaTrader.Vendor.resources.dll
/bin/Debug/ActiproSoftware.SyntaxEditor.Wpf.dll
/bin/Debug/ActiproSoftware.Text.Addons.DotNet.Wpf.dll
/bin/Debug/ActiproSoftware.Text.LLParser.Wpf.dll
/bin/Debug/ActiproSoftware.Text.Wpf.dll
/bin/Debug/Google.Protobuf.dll
/bin/Debug/HelixToolkit.Wpf.dll
/bin/Debug/Infralution.Localization.Wpf.dll
/bin/Debug/MailKit.dll
/bin/Debug/Microsoft.CodeAnalysis.CSharp.dll
/bin/Debug/Microsoft.CodeAnalysis.dll
/bin/Debug/Microsoft.Extensions.Configuration.Binder.dll
/bin/Debug/Microsoft.IdentityModel.Abstractions.dll
/bin/Debug/Microsoft.IdentityModel.JsonWebTokens.dll
/bin/Debug/Microsoft.IdentityModel.Logging.dll
/bin/Debug/Microsoft.IdentityModel.Tokens.dll
/bin/Debug/Microsoft.Web.WebView2.Core.dll
/bin/Debug/Microsoft.Web.WebView2.Wpf.dll
/bin/Debug/MimeKit.dll
/bin/Debug/MySql.Data.dll
/bin/Debug/NinjaTrader.Core.dll
/bin/Debug/NinjaTrader.Core.dll.config
/bin/Debug/NinjaTrader.Core.xml
/bin/Debug/NinjaTrader.Gui.dll
/bin/Debug/NinjaTrader.Gui.xml
/bin/Debug/NinjaTrader.Vendor.dll
/bin/Debug/NinjaTrader.VMRuntime.dll
/bin/Debug/OpenTelemetry.Api.dll
/bin/Debug/OpenTelemetry.Api.ProviderBuilderExtensions.dll
/bin/Debug/OpenTelemetry.dll
/bin/Debug/OpenTelemetry.Exporter.OpenTelemetryProtocol.dll
/bin/Debug/PresentationCore.dll
/bin/Debug/PresentationFramework.dll
/bin/Debug/System.Diagnostics.DiagnosticSource.dll
/bin/Debug/System.IdentityModel.Tokens.Jwt.dll
/bin/Debug/System.Text.Json.dll
/bin/Debug/System.Windows.Controls.WpfPropertyGrid.dll
/bin/Debug/UIAutomationProvider.dll
/bin/Debug/WindowsBase.dll
/obj/x64/Debug/NinjaTrader.Custom.csproj.GenerateResource.cache
/obj/x64/Debug/NinjaTrader.Custom.Resource.ko-KR.resources
